<header>
	<div class="container-fluid" style="background-color: black;">
				<h3 style="color: white;">Bookers</h3>
				<nav class="pull-right">
					<ul class="list-inline" style="color: silver;">
						<li class="active">
							<span class="glyphicon glyphicon-home" aria-hidden="true">Home</span></li>
			            <li class="active">
			                 <span class="glyphicon glyphicon-user" aria-hidden="true">Users</span>
		                </li>
			            <li class="active">
			                <span class="glyphicon glyphicon-book" aria-hidden="true">Books</span>
			            </li>
			            <li class="active">
				            <span class="glyphicon glyphicon-log-out" aria-hidden="true">logout</span>
			            </li>
		            </ul>
	            </nav>
</header>